.eventSwiper .swiper {
  width: 100%;
  height: 100%;
}

.eventSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.eventSwiper .swiper-button-prev,
.eventSwiper .swiper-button-next {
  @apply text-primary border-2 border-primary top-10 p-5 rounded-full transition-colors;
}
.eventSwiper .swiper-button-prev {
  @apply left-[74%] md:left-[86%] lg:left-[91%]  hover:bg-primary hover:text-white;
}
.eventSwiper .swiper-button-next {
  @apply right-0  hover:bg-primary hover:text-white;
}

.eventSwiper .swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-lg;
}

.eventSwiper .swiper-wrapper {
  @apply py-20 lg:py-10;
}

html {
  scroll-behavior: smooth;
}
