#dashboard {
    @apply grid grid-cols-1 lg:grid-cols-4 min-h-screen max-h-screen p-5 gap-0 lg:gap-5 relative mx-auto max-w-[1450px] overflow-hidden;
}

#dashboard .left_container {
    @apply h-full lg:block hidden min-h-full w-full overflow-y-auto
}

#dashboard .right_container {
    @apply lg:col-span-3 bg-white rounded-xl p-5 mt-5 lg:mt-0 w-full md:p-5 lg:p-10 overflow-y-auto;
}

#dashboard .left_container .nav_container {
    @apply bg-white p-5 justify-between text-[#151515] rounded-xl flex flex-col overflow-y-auto
}

#dashboard ul {
  @apply flex sm:flex-col gap-3 md:gap-0 mt-0 sm:mt-5 space-y-0 md:space-y-1 w-full;
}

.dashboard_item {
  @apply flex items-start lg:items-center justify-between text-primary py-1 lg:py-2.5 p-2.5 rounded-xl hover:bg-[#e3e2f5] transition-all duration-300 overflow-hidden relative;
}

.dashboard_item_active,
#dashboard .log_btn {
  @apply flex items-start lg:items-center justify-between text-white py-1 lg:py-2.5 p-2.5 rounded-xl bg-primary hover:bg-primary relative overflow-hidden;
}

#dashboard .log_btn {
  @apply capitalize font-inter font-semibold px-4 cursor-pointer hover:scale-110 transition-all;
}

.dashboard_item div,
.dashboard_item_active div {
  @apply flex gap-2 items-center;
}

.dashboard_item div svg,
.dashboard_item_active div svg {
  @apply mt-0 text-xl md:text-lg;
}

.dashboard_item span,
.dashboard_item_active span {
  @apply capitalize font-inter font-semibold md:text-sm lg:text-base;
}

.hov_arrow {
  @apply text-primary absolute top-1/2 transform -translate-y-1/2 -right-80 transition-all duration-300;
}

.dashboard_item:hover .hov_arrow {
  @apply right-3
}