@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMON ITEMS */
.button {
    @apply text-white font-semibold font-inter text-base px-4 py-2 rounded-xl transition-all duration-500 text-[15px]
}

.button {
    background-image: linear-gradient(to right, #248479, #76C6A2, #76C6A2, #248479);
    background-size: 300%;
    background-position: right;
}

.button:hover {
    background-position: left;
}

/* BANNER */
.banner {
    @apply grid grid-cols-2 items-center max-w-[1200px] mx-auto
}

.banner h2 {
    @apply text-5xl font-semibold capitalize font-inter
}

.banner p {
    @apply font-medium font-poppins text-[17px]
}


/* Error Page */
.error img {
    @apply w-2/5 mx-auto
}