/* BANNER */

.about_banner {
  @apply flex flex-col-reverse lg:flex-row lg:justify-between lg:items-center py-20 px-3 md:px-5 lg:px-0;
}

.about_banner .left_container {
  @apply lg:flex-1 mt-20 lg:mt-0 space-y-5;
}

.about_banner .left_container span {
  @apply bg-[#c7c5eb] text-primary font-medium uppercase text-xs md:text-sm py-1.5 px-3 rounded-full leading-none;
}

.about_banner .left_container h2 {
  @apply text-4xl md:text-5xl font-semibold capitalize font-inter leading-snug lg:leading-tight;
}

.about_banner .left_container p {
  @apply font-inter text-base lg:text-base font-medium leading-normal lg:pr-10;
}

.about_banner .img_container {
  @apply relative w-full h-80;
}

.about_banner .img_container div {
  @apply w-2/3 md:w-2/5 lg:w-1/2 h-56 md:h-60 lg:h-72 border-4 border-primary absolute z-0 top-8 lg:top-5 left-14 md:left-60 lg:left-40 rounded-3xl;
}

.about_banner .img_container .first_img {
  @apply absolute -top-10 md:-top-12 lg:-top-10 w-60 md:w-auto right-0 md:right-16 lg:right-0 z-30;
}

.about_banner .img_container .second_img {
  @apply absolute w-60 md:w-auto md:left-28 lg:left-16 top-14 md:top-12 lg:top-14 z-40 lg:z-20;
}

.about_banner .img_container .third_img {
  @apply absolute w-60 md:w-auto right-0 md:right-16 lg:right-0 bottom-0 md:-bottom-10;
}

/* TEAM */

.about_team {
  @apply lg:mt-10 mb-10;
}

.about_team h2 {
  @apply capitalize text-2xl md:text-3xl font-semibold font-inter text-center;
}

.about_team p {
  @apply text-[#1E1E1E] font-inter font-medium mx-auto mt-3 text-center;
}

.team_container {
  @apply grid md:grid-cols-3 lg:grid-cols-6 gap-3 md:gap-5 mt-10 px-4 lg:px-0;
}

.founders_card {
  @apply relative mb-7 rounded-xl border border-slate-300 py-5 px-1;
}

.founders_card figure img {
  @apply rounded-full w-1/2 mx-auto;
}

.founder_info {
  @apply text-center mt-3 text-ellipsis;
}

.founder_info p:first-child {
  @apply text-[19px] font-bold font-inter;
}

.founder_info p:last-child {
  @apply font-semibold font-inter mt-0;
}

.socialIcons {
  @apply  transition-all duration-500   w-full flex justify-center;
}

.socialIcons div {
  @apply flex gap-4 bg-white justify-center max-w-[150px] py-2.5 rounded-2xl px-5 mt-4;
}

 .socialIcons img {
  @apply w-7 hover:scale-110 transition-all;
}
/*
.founders_card:hover .socialIcons {
  @apply opacity-100;
} */
